<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stellar Exercise Sauce demo website">

    <listeners>
        <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
    </listeners>


    <test name="Stellar Test Cases">
        <classes>
            <class name="testcases.LoginPageTest"></class>
            <class name="testcases.ProductlistPageTest"></class>

        </classes>
    </test>
</suite>